PORT=4000
IPGEO_API_KEY=
BIGDATACLOUD_KEY=
METEOSOURCE_KEY=
PDFBOLT_KEY=

# M-Pesa Daraja API
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=
MPESA_ENVIRONMENT=sandbox
MPESA_CALLBACK_URL=
